services:
  postgres:
    image: postgres:16-alpine
    container_name: shipSquire-postgres
    environment:
      POSTGRES_DB: shipSquire
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: shipSquire-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - DATABASE_URL=Host=postgres;Database=shipSquire;Username=postgres;Password=postgres
      - GitHub__ClientId=Ov23livsceuig0qRgFzK
      - GitHub__ClientSecret=95def54cf4b02281e0a1265ea2a07f9c6e72df24
    ports:
      - "5000:5000"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: shipSquire-web
    ports:
      - "3000:80"
    depends_on:
      - api
    restart: unless-stopped

volumes:
  postgres_data:
